<div class="wrap">
  <%= form_with model: @student do |form|  %>
    <div class="input-line">
      <%= form.label :surname %>
      <%= form.text_field :surname %>
      <% @student.errors.full_messages_for(:surname).each do |message| %>
        <div class="error"> <%= message %></div>
      <% end %>
    </div>

    <div class="input-line">
      <%= form.label :dormitory %>
      <%= form.check_box :dormitory %>
      <% @student .errors.full_messages_for(:dormitory).each do |message| %>
        <div class="error"><%= message %></div>
      <% end %>
    </div>

    <div class="input-line">
      <%= form.label :experience %>
      <%= form.text_field :experience %>
      <% @student .errors.full_messages_for(:experience).each do |message| %>
        <div class="error"><%= message %></div>
      <% end %>
    </div>

    <div class="input-line">
      <%= form.label :teaching_experience %>
      <%= form.text_field :teaching_experience %>
      <% @student .errors.full_messages_for(:teaching_experience).each do |message| %>
        <div class="error"><%= message %></div>
      <% end %>
    </div>

    <div class="input-line">
      <%= form.label :school %>
      <%= form.text_field :school %>
      <% @student .errors.full_messages_for(:school).each do |message| %>
        <div class="error"><%= message %></div>
      <% end %>
    </div>

    <div class="input-line">
      <%= form.label :second_language %>
      <%= form.text_field :second_language %>
      <% @student .errors.full_messages_for(:second_language).each do |message| %>
        <div class="error"><%= message %></div>
      <% end %>
    </div>

    <div class="button">
      <%= form.submit %>
    </div>
  <% end %>
</div>