<ul class="student-list">
  <li>
    <p>Surname</p>
    <p>Dormitory</p>
    <p>Experience</p>
    <p>Teaching experience</p>
    <p>School</p>
    <p>Second language</p>
  </li>
  <% @students.each do |student| %>
    <li >
      <p><%= link_to student.surname , student %></p>
      <p><%= student.dormitory ? "yes" : "no" %></p>
      <p><%= student.experience %> y.</p>
      <p><%= student.teaching_experience %> y.</p>
      <p><%= student.school %></p>
      <p><%= student.second_language %></p>
    </li>
  <% end %>
</ul>