<h1> Student: <%= @student.surname %> </h1>

<div class="wrap-info">
<ul class="student-info">
  <li>Need dormitory: <%= @student.dormitory ? "yes" : "no" %></li>
  <li>Work experience: <%= @student.experience %> y.</li>
  <li>Teaching experience: <%= @student.teaching_experience %> y.</li>
  <li>School: <%= @student.school %></li>
  <li>Second language: <%= @student.second_language %></li>
</ul>
<div class='button-new delete'>
  <%= link_to  edit_student_path(@student) do%>
    <p>Edit</p>
  <%end%>
  <%= link_to  student_path(@student), method: :delete, data: { confirm: "Are you sure?" } do %>
    <p>Delete</p>
  <% end %>
</div>
</div>
<div class='button-new'>
  <%= link_to  "/students" do%>
    <p>Back</p>
  <%end%>
</div>

<%= render "footer"%>


